<div class="container-fluid mb-3">
  <hr>
  <div class="row">
    <div class="col-1 offset-3">
      <img src="/assets/storeLogo/icons8-epic-games-100.png"
           alt="store-logo">
    </div>
    <div class="col-4 text-muted">
      <div class="row">
        <div class="col-12 text-center">
          <p>© 2019 Macskás Memeoldal.  All rights reserved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <a href="" class="text-muted">FAQ</a>
        </div>
        <div class="col-4 text-center">
          <a href="" class="text-muted" routerLink="/privacypolicy" target="_top">Privacy Policy</a>
        </div>
        <div class="col-4 text-center">
          <a href="" class="text-muted" routerLink="/terms" target="_top">Terms</a>
        </div>
      </div>
    </div>
    <div class="col-1 ml-4">
      <a href="https://www.paypal.com/hu/signin">
        <img src="/assets/logos/icons8-paypal-48.png" alt="paypal-logo">
      </a>
    </div>
  </div>
</div>
