<div class="container-fluid mb-3">
  <hr>
  <div class="row">
    <div class="col-1 offset-4">
      <img src="/assets/storeLogo/icons8-epic-games-100.png"
           alt="store-logo">
    </div>
    <div class="col-3 text-muted">
      <div class="row">
        <div class="col-12 text-center">
          <p>© 2019 Macskás Memeoldal.  All rights reserved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <a href="" class="text-muted">FAQ</a>
        </div>
        <div class="col-4 text-center">
          <a href="" class="text-muted" routerLink="/privacypolicy">Privacy Policy</a>
        </div>
        <div class="col-4 text-center">
          <a href="" class="text-muted" routerLink="/terms">Terms</a>
        </div>
      </div>
    </div>
  </div>
</div>
