<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <form class="form-inline">
        <label for="search">Search:&nbsp;&nbsp;</label>
        <input type="text"
               class="form-control"
               id="search"
               name="search"
               [(ngModel)]="filterPhrase">
      </form>
      <p class="form-text text-muted" style="position: relative; left: 16%">
        It will search in description as well!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click)="setSorterKey('id')">#</th>
            <th scope="col" (click)="setSorterKey('insdate')">Date of Order</th>
            <th scope="col" (click)="setSorterKey('product')">Product ID</th>
            <th scope="col" (click)="setSorterKey('quantity')">Quantity</th>
            <th scope="col" (click)="setSorterKey('userName')">Name</th>
            <th scope="col" (click)="setSorterKey('userEmail')">Email Address</th>
            <th scope="col" (click)="setSorterKey('shippingAddress')">Shipping Address</th>
            <th>
              <button type="button"
                      class="btn btn-light"
                      routerLink="/admin/orders/add"> <!--??? Mindegy, mit írok ide, folyton az order-edit komponenst jeleníti meg.--> <!--A routing-nál előrébb kellett helyezni az útvonalát, akkor működik. Úgy tűnik, a :id bezavart.-->
                New Order
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let order of orderList$ | async"> -->
          <tr *ngFor="let order of orderList
           | adminOrderFilter:filterPhrase:counter 
           | adminOrderSort:orderKey:orderDirection">
            <th scope="row"> {{ order.id }} </th>
            <td> {{order.insdate | date }} </td>
            <td> {{order.product}} </td>
            <td> {{order.quantity}} </td>
            <td> {{order.userName}} </td>
            <td> {{order.userEmail}} </td>
            <td> {{order.shippingAddress}} </td>
            <td>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1"
                        type="button"
                        class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                  Options
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
                  <a class="dropdown-item" routerLink="/admin/orders/{{ order.id }}">🖉 Edit</a>
                  <a class="dropdown-item" (click)="deleteOrder(order)">⚠ Delete</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
