<div class="container">
  <div class="row">
    <div class="col-6">
      <input type="text"
             name="search-box"
             id="search-box"
             class="form-control text-secondary"
             placeholder="Find a game"
             [(ngModel)]="filterPhrase">
    </div>
  </div>
  <div class="row">
    <div class="col-4"
         *ngFor="let product of list$ | async | filter:filterPhrase">
      <div class="card mb-3">
        <h3 class="card-header">{{product.title}}</h3>
        <img style="height: 200px; width: 100%; display: block;"
             src="{{product.pic}}"
             alt="Card image">
        <div class="card-body">
          <p class="card-text">{{product.short}}</p>
          <div>{{product.price | currency:'USD'}}</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center btn-outline-info"
              routerLink="/products/{{product.id}}">Show more</li>
        </ul>
        <div class="card-footer text-muted">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>