
<div class="jumbotron">
    <h1 class="display-3">{{ (product$ | async)?.title}}</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg"
           href="#"
           role="button"
           data-toggle="modal"
           data-target="#myModal">Buy</a>
    </p>
</div>

<div class="modal mr-5"  id="myModal" [ngClass]="data-dismiss">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Order Form</h2>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  #userForm="ngForm" novalidate>
            <div class="modal-body  ">
                <p class="bg-primary">Please fill in your information and we'll be sending your order</p>
                <p class="bg-primary">Your selected item :  {{ (product$ | async)?.title}}</p>
                <p class=" bg-primary text-warning">Total price: {{ (product$ | async)?.price*(order.quantity)|currency: 'USD'}}</p>
                   <div class="from-group">
                        <label class="bg-primary" for="name">Name *:</label>
                        <input  required #userName="ngModel" class="form-control" type="text"  
                                id="name" [(ngModel)]="order.userName" name="userName"
                                pattern="[A-Za-z- ]{1,50}">
                        <small  [hidden]="userName.invalid || userName.pristine" class="text-danger">Invalid!</small>
                    </div>
                    <div class="from-group">
                        <label class="bg-primary" for="email">Email *:</label>
                        <input  required #userEmail="ngModel" class="form-control" type="email" 
                                id="email" [(ngModel)]="order.userEmail" 
                                name="userEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <small [hidden]="userEmail.invalid || userEmail.pristine" class="text-danger">Invalid!</small>
                    </div>
                    <div class="form-group">
                        <label class="bg-primary" for="addresss">Shipping Address *:</label>
                        <input  required #userAddress="ngModel" class="form-control"
                                type="text" id="address" [(ngModel)]="order.shippingAdress"
                                name="shippingAdress">
                        <small [hidden]="userAddress.invalid || userAddress.pristine" class="text-danger">Invalid!</small>
                    </div>
                    <div class="form-group">
                        <label class="bg-primary" for="quantity">Quantity</label>
                        <input class="form-control" type="number" id="quantity" [(ngModel)]="order.quantity" name="quantity">
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" 
                            [disabled]="!userForm.form.valid"
                            (click)="postNewOrder($event)"
                            [attr.data-dismiss]="dataModal" 
                             >Purchare
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>