<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
          <h1>New Order</h1>
        </div>
      </div>
  <div class="row">
    <div class="col-4 offset-4">
      <form action="">
        <!-- <div class="form-group">
          <label for="orderID">Order ID</label>
          <input type="number"
                 class="form-control"
                 id="orderID">
        </div> -->
        <div class="form-group">
          <label for="insdate">Date of Order</label>
          <input type="date"
                 class="form-control"
                 id="insdate">
        </div>
        <div class="form-group">
          <label for="product">Product ID</label>
          <input type="number"
                 class="form-control"
                 id="product">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number"
                 class="form-control"
                 id="quantity">
        </div>
        <div class="form-group">
          <label for="userName">Name</label>
          <input type="text"
                 class="form-control"
                 id="userName">
        </div>
        <div class="form-group">
          <label for="userEmail">Email Address</label>
          <input type="email"
                 class="form-control"
                 id="userEmail"
                 placeholder="example@neworder.com">
        </div>
        <div class="form-group">
          <label for="shippingAddress">Shipping Address</label>
          <input type="text"
                 class="form-control"
                 id="shippingAddress"
                 placeholder="">
        </div>
        <div class="btn-group col-10 offset-1" role="group">
          <button type="button"
                  class="btn btn-success"
                  (click)="create($event)"
                  routerLink="/admin/orders">Add</button>
          <button type="button"
                  class="btn btn-secondary"
                  routerLink="/admin/orders">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
